/**
 * Config
 *
 * Variables and global settings
 */

/**
 * @section Color
 */

:root {
  --black: black;
  --white: white;
}

/**
 * @section Typography
 */

:root {
  --t-text-fontFamily: "FF DIN", sans-serif;
  --t-text-fontWeight: 400;
}

/**
 * @section Grid
 */

:root {
  --b-space: 32px;
  --b-space-025: calc(var(--b-space) * 025);
  --b-space-05: calc(var(--b-space) * 05);
  --b-space-2: calc(var(--b-space) * 2);
  --b-space-3: calc(var(--b-space) * 3);
  --b-space-4: calc(var(--b-space) * 4);
  --b-space-5: calc(var(--b-space) * 5);
}
