/**
 * Tools
 *
 * Various utility classes
 */

/**
 * @section Typography
 */

/* Leading */

.ld1 {
  line-height: 1;
}
.ld125 {
  line-height: 1.25;
}
.ld15 {
  line-height: 1.5;
}
.ld2 {
  line-height: 2;
}

/* Tracking */

.tr0 {
  letter-spacing: 0;
}
.tr1 {
  letter-spacing: 0.0625em;
}
.tr2 {
  letter-spacing: 0.125em;
}
