/**
 * Base
 *
 * Low-level styles
 */

html {
  background-color: var(--white);
  background-image: linear-gradient(white, color(var(--blush) whiteness(95%)));
  color: var(--c-text);
  font-family: var(--text-font-family);
  font-variant-ligatures: common-ligatures;
  font-weight: var(--text-fontWeight);
  margin: 0;
}

body {
  margin: 0;
}

* {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

a {
  color: var(--blue);
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  letter-spacing: 0.0625em;
  margin-bottom: var(--space-05);
  text-transform: uppercase;
}

p {
  line-height: 1.5;
  max-width: 39.125em;
  max-width: 75ch;

  & a {
    border-bottom: 1px solid currentColor;
    display: inline-block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.0625em;
    padding: 0.125em 0;
    text-decoration: none;
    text-transform: uppercase;
  }
}
