/**
 * Config
 *
 * Variables and global settings
 */

/**
 * @section Color
 */

:root {
  --almond: #d7ad4b;
  --berry: #3f3b71;
  --caramel: #d7ad4b;
  --black: #222426;
  --blue: #73e1e5;
  --cherry: #c00601;
  --chocolate: #675344;
  --floral: #f2bdff;
  --gray: #c7d4d8;
  --lemon: #ffe62a;
  --marshmallow: #fdf5ee;
  --peach: #ffbeae;
  --plum: #5e65bb;
  --white: white;

  /* Tints */
  --gray-t: #dae7ec;
  --gray-tt: #fafcfc;

  /* Shades */
  --gray-s: #7d8e91;
  --gray-ss: #4d5a5b;
}

/* Template Hooks */

:root {
  --c-text: var(--black);
}

/**
 * @section Typography
 */

:root {
  --t-text-fontFamily: "FF DIN", sans-serif;
  --t-text-fontWeight: 400;
}

/**
 * @section Grid
 */

:root {
  --space: 32px;
  --space-0125: calc(var(--space) * 0.125);
  --space-025: calc(var(--space) * 0.25);
  --space-0375: calc(var(--space) * 0.375);
  --space-05: calc(var(--space) * 0.5);
  --space-0625: calc(var(--space) * 0.625);
  --space-075: calc(var(--space) * 0.75);
  --space-0875: calc(var(--space) * 0.875);
  --space-15: calc(var(--space) * 1.5);
  --space-2: calc(var(--space) * 2);
  --space-3: calc(var(--space) * 3);
  --space-4: calc(var(--space) * 4);
  --space-5: calc(var(--space) * 5);
}

/**
 * @section Media Queries
 */

:root {
  --viewport-s: 600px;
  --viewport-m: 900px;
  --viewport-l: 1200px;
  --viewport-xl: 1800px;
}

@custom-media --query-s (width >= 600px);
@custom-media --query-m (width >= 900px);
@custom-media --query-l (width >= 1200px);
@custom-media --query-xl (width >= 1800px);

/**
 * @section Animations
 */

:root {
  --transition-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1);
  --transition-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1);
  --transition-default: var(--transition-fast-out-slow-in);
  --transition-sharp: var(--transition-fast-out-linear-in);

  --transition-acceleration: var(--transition-fast-out-linear-in);
  --transition-deceleration: var(--transition-linear-out-slow-in);
  --transition-standard: var(--transition-default);
}

