/**
 * Tools
 *
 * Various utility classes
 */

/**
 * @section Color
 */

.tcb { color: var(--blue); }
.tck { color: var(--black); }
.tcgy { color: var(--gray); }

/**
 * @section Spacing
 */

/* Margin */

.mb0 { margin-bottom: 0; }
.mb025 { margin-bottom: var(--space-025); }
.mb05 { margin-bottom: var(--space-05); }
.mb075 { margin-bottom: var(--space-075); }
.mb1 { margin-bottom: var(--space); }
.mb2 { margin-bottom: var(--space-2); }
.mb3 { margin-bottom: var(--space-3); }
.ml0 { margin-left: 0; }
.ml025 { margin-left: var(--space-025); }
.ml05 { margin-left: var(--space-05); }
.ml075 { margin-left: var(--space-075); }
.ml1 { margin-left: var(--space); }
.ml2 { margin-left: var(--space-2); }
.ml3 { margin-left: var(--space-3); }
.mr0 { margin-right: 0; }
.mr025 { margin-right: var(--space-025); }
.mr05 { margin-right: var(--space-05); }
.mr075 { margin-right: var(--space-075); }
.mr1 { margin-right: var(--space); }
.mr2 { margin-right: var(--space-2); }
.mr3 { margin-right: var(--space-3); }
.mt0 { margin-top: 0; }
.mt025 { margin-top: var(--space-025); }
.mt05 { margin-top: var(--space-05); }
.mt075 { margin-top: var(--space-075); }
.mt1 { margin-top: var(--space); }
.mt2 { margin-top: var(--space-2); }
.mt3 { margin-top: var(--space-3); }

/* Padding */

.pb0 { padding-bottom: 0; }
.pb025 { padding-bottom: var(--space-025); }
.pb05 { padding-bottom: var(--space-05); }
.pb075 { padding-bottom: var(--space-075); }
.pb1 { padding-bottom: var(--space); }
.pb2 { padding-bottom: var(--space-2); }
.pb3 { padding-bottom: var(--space-3); }
.pl0 { padding-left: 0; }
.pl025 { padding-left: var(--space-025); }
.pl05 { padding-left: var(--space-05); }
.pl075 { padding-left: var(--space-075); }
.pl1 { padding-left: var(--space); }
.pl2 { padding-left: var(--space-2); }
.pl3 { padding-left: var(--space-3); }
.pr0 { padding-right: 0; }
.pr025 { padding-right: var(--space-025); }
.pr05 { padding-right: var(--space-05); }
.pr075 { padding-right: var(--space-075); }
.pr1 { padding-right: var(--space); }
.pr2 { padding-right: var(--space-2); }
.pr3 { padding-right: var(--space-3); }
.pt0 { padding-top: 0; }
.pt025 { padding-top: var(--space-025); }
.pt05 { padding-top: var(--space-05); }
.pt075 { padding-top: var(--space-075); }
.pt1 { padding-top: var(--space); }
.pt2 { padding-top: var(--space-2); }
.pt3 { padding-top: var(--space-3); }

/**
 * @section Typography
 */

/* Alignment */
.tal { text-align: left; }
.tac { text-align: center; }
.tar { text-align: right; }

/* Leading */

.ld1 { line-height: 1; }
.ld125 { line-height: 1.25; }
.ld15 { line-height: 1.5; }
.ld2 { line-height: 2; }

/* Tracking */

.tr0 { letter-spacing: 0; }
.tr1 { letter-spacing: 0.0625em; }
.tr2 { letter-spacing: 0.125em; }
