/**
 * Block
 *
 * Big clicky banners Drew can’t think of a good name for
 */

/**
 * @section Base
 */

.block {
  align-items: center;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  margin-left: var(--space-05);
  margin-bottom: var(--space-05);
  min-height: 25vh;
  text-decoration: none;
  width: 100%;

  @media (--s) {
    flex: 1;
    max-height: 20em;
    height: 50vh;
    width: auto;
  }
}

/**
 * @section Containers
 */

.has-block {
  display: flex;
  flex-wrap: wrap;
  margin-left: -var(--space-05);
}
