/**
 * Button
 *
 * Clicky things
 */

/**
 * @section Base
 */

.button {
  -webkit-appearance: none;
  background-color: transparent;
  box-shadow: 0 0 0 2px currentColor;
  border-radius: 0;
  border: none;
  color: var(--c-text);
  cursor: pointer;
  display: inline-block;
  font-family: var(--text-font-family);
  font-size: var(--step-up-1);
  font-weight: 500;
  letter-spacing: 0.0625em;
  line-height: 1;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;

  &::before {
    background-color: currentColor;
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translateY(101%);
    transition: transform 200ms var(--transition-standard);
    width: 100%;
    z-index: 1;
  }

  &:focus,
  &:hover {
    & .button-inner {
      color: white;
    }

    &::before {
      transform: translateY(0);
    }
  }
}

/**
 * @section Submodules
 */

/* Needed for hover effects */
.button-inner {
  display: block;
  padding-bottom: 0.875em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.75em;
  position: relative;
  text-decoration: none;
  transition: color 200ms;
  z-index: 5;
}

.button-icon {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/**
 * @section Modifiers
 */

.button--directions {
  box-shadow: 0 0 0 1px currentColor;
  display: block;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.0625em;
  letter-spacing: 0;
  line-height: 1.2;
  overflow: hidden;
  position: relative;

  &::before {
    background-color: var(--gray);
  }

  & .button-inner::after {
    color: var(--gray-s);
    content: "Get Directions";
    display: block;
    font-size: 0.875em;
    font-weight: 400;
    letter-spacing: 0.125em;
    margin-top: 0.25em;
  }

  &:focus,
  &:hover {
    & .button-inner {
      color: var(--c-text);
    }
  }
}

.button--icon {
  text-align: left;

  & .button-inner {
    padding-left: var(--space-15);
  }
}

.button--l
  .button-inner {
    padding: 0.75em 2em 0.875em;
}

.button--white {
  color: white;
  &:focus,
  &:hover {
    & .button-inner {
      color: var(--black);
    }
  }
}

/**
 * @section State
 */

.button[disabled],
.button.is-disabled {
  box-shadow: 0 0 0 2px var(--gray);
  color: var(--gray);

  &::before {
    display: none;
  }

  &:focus,
  &:hover {
    & .button-inner {
      color: var(--gray);
    }
  }
}
