/**
 * Cell
 *
 * Width-delimiting containers
 */

/**
 * @section Base
 */

.cell {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - var(--space-2));

  @media (--m) {
    max-width: var(--viewport-m);
  }
}
