/**
 * Data
 *
 * Coffee attributes and other tabular things
 */

/**
 * @section Base
 */

.data {
  border-collapse: collapse;
  font-size: 13px;
  width: 100%;
}

/**
 * @section Submodules
 */

.data-row {
  box-shadow: inset 0 -1px color(var(--gray) alpha(-50%));
}

.data-term {
  padding-bottom: var(--space-0125);
  padding-left: 0;
  padding-right: 0;
  padding-top: var(--space-025);
  text-align: left;
  vertical-align: bottom;
}

.data-value {
  font-weight: 500;
  padding-bottom: var(--space-0125);
  padding-left: 0;
  padding-right: 0;
  padding-top: var(--space-025);
  text-align: right;
  vertical-align: bottom;
}
