/**
 * Guide
 * Brewing cards
 */

@import "../shared/config.css";

/**
 * @section Base
 */

.guide {
  background-color: white;
  border-radius: var(--space-025);
  box-shadow: 0 0 0 1px var(--gray);
  color: var(--black);
  display: block;
  margin-bottom: var(--space);
  padding: var(--space);
  text-align: center;
  text-decoration: none;
  transition: box-shadow 200ms;
  width: calc(50% - var(--space-05));

  & h2 {
    font-size: 1em;
  }

  & p {
    font-size: var(--step-down-1);
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
  }

  &:focus,
  &:hover {
    box-shadow: 0 0 0 1px var(--gray-s), 0 var(--space-025) var(--space-05) color(var(--black) alpha(-90%));
  }
}

/**
 * @section Container
 */

.has-guide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
