/**
 * Header
 *
 * Styles for top header and wrapper around nav
 */

/**
 * @section Base
 */

.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - var(--space));
  padding-bottom: 0;
  padding-top: var(--space-025);

  @media (--s) {
    padding-top: 0;
  }

  @media (--m) {
    max-width: var(--viewport-m);
  }

  @media (--l) {
    max-width: var(--viewport-l);
  }
}

/**
 * @section Submodules
 */

.header-logo {
  display: block;
  height: var(--space-2);
  user-select: none;
  width: var(--space-2);
}

.header-nav {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (--s) {
    margin-right: 0;
    width: auto;
  }
}
