/**
 * Hero
 * Full-width banner
 */

/**
 * @section Base
 */

.hero {
  align-items: center;
  background-color: var(--blush);
  color: white;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  overflow: hidden;
  padding-bottom: var(--space);
  padding-top: var(--space);
  position: relative;
  text-decoration: none;
  text-shadow: 0 0 var(--space) var(--black);
  width: 100%;
  z-index: 1;

  &::after {
    background-color: color(var(--blush) alpha(-50%));
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

/**
 * @section Submodules
 */

/* Heading */

.hero-heading {
  font-family: var(--heading-font-family);
  font-size: 5em;
  font-weight: 400;
  margin-bottom: 0em;
  margin-top: 0;
  text-transform: none;
}

/* Inner */

.hero-inner {
  position: relative;
  z-index: var(--layer-base);
}

/* Subheading */

.hero-subheading {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.125em;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
