/**
 * Hours
 * Storefront hours card
 */

/**
 * @section Base
 */

.hours {
  background-color: var(--black);
  box-shadow: 0 0 0 1px var(--gray);
  color: var(--gray);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: space-between;
  padding-bottom: var(--space-15);
  padding-left: var(--space-15);
  padding-right: var(--space-15);
  padding-top: 56.25%;
  position: relative;
  text-align: center;
}

/**
 * @section Subcomponents
 */

/* Directions */

.hours-directions {
  align-items: center;
  display: flex;
  font-size: var(--step-down-1);
  justify-content: center;
  letter-spacing: 0.125em;
  margin-top: var(--space);
  padding-right: var(--space-05);
  text-decoration: none;
  text-transform: uppercase;

  & svg {
    display: block;
    fill: var(--blue);
    height: var(--space-075);
    margin-top: var(--space-0125);
    margin-right: var(--space-0125);
    transition: transform 500ms var(--transition-deceleration);
    width: var(--space-075);
  }

  &:hover svg {
    transform: rotate3d(0, 1, 0, -2turn);
  }
}

/* Grid */

.hours-grid {
  display: grid;
  grid-column-gap: var(--space-4);
  grid-template-columns: 1fr 1fr;
}

/* Heading */

.hours-heading {
  font-family: var(--heading-font-family);
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: 0;;
  margin-top: 0;
  text-align: center;
  text-transform: none;
}

/* Image */

.hours-image {
  background-color: color(var(--blue) alpha(-90%));
  height: 0;
  left: 0;
  padding-top: 56.25%;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Location */

.hours-location {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.0625em;
  margin-bottom: 0;
  margin-top: var(--space);
  text-transform: uppercase;
}

/* Subheading */

.hours-subheading {
  color: var(--gray-s);
  font-size: var(--step-down-1);
  font-weight: 400;
  letter-spacing: 0.125em;
  margin-bottom: var(--space-2);
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

/* Status */

.hours-status {
  display: block;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 0.75em;
  &.is-closed {
    color: var(--gray);
  }
  &.is-closing {
    color: var(--lemon);
  }
  &.is-open {
    color: var(--blue);
  }
}

/* Soon */

.hours-soon {
  color: white;
  font-family: var(--heading-font-family);
  font-size: 3.5em;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: auto;
  transform: rotate(-20deg);
}

/**
 * @section Container
 */

.has-hours {
  background-color: var(--black);
  color: white;
  margin-top: var(--space-05);
  padding-bottom: var(--space-4);
  padding-left: 0;
  padding-right: 0;
  padding-top: var(--space-3);
}
