/**
 * Layout
 *
 * Page-specific grids
 */

/**
 * @section Base
 */

.layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/**
 * @section Submodules
 */

.layout-body {
  width: calc(75% - var(--space-05));
}

.layout-aside {
  width: calc(25% - var(--space-05));
}
