/**
 * Nav
 *
 * Main nav styles
 */

/**
 * @section Base
 */

.nav {

  & ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  & li {
    margin: 0;
    padding: 0;
  }
}

/**
 * @section Submodules
 */

.nav-link {
  padding: 1.5em 1em;
}
