/**
 * Nav
 *
 * Main nav styles
 */

/**
 * @section Base
 */

.nav {

  & ul {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  & li {
    margin: 0;
    padding: 0;
  }
}

/**
 * @section Submodules
 */

.nav-cart {
  position: relative;

  &[data-cart]::after {
    background-color: var(--c-text);
    border-radius: 50%;
    border: 3px solid var(--white);
    content: "";
    height: var(--space-05);
    position: absolute;
    right: calc(var(--space-05) * -0.75);
    top: var(--space-05);
    transform: translate(-50%, -50%);
    width: var(--space-05);
  }
}

.nav-link {
  color: var(--c-text);
  display: block;
  font-weight: 500;
  letter-spacing: 0.0625em;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}
