/**
 * Nav
 * Main nav styles
 */

/**
 * @section Base
 */

.nav {
  display: flex;
  user-select: none;

  & ul {
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media (--s) {
      align-items: stretch;
      justify-content: flex-start;
    }
  }

  & li {
    display: flex;
    margin: 0;
    padding: 0;

    @media (--s) {
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }
}

/**
 * @section Submodules
 */

.nav-cart {
  cursor: pointer;

  & svg {
    pointer-events: none;
  }
}

.nav-link {
  align-items: center;
  color: var(--c-text);
  display: flex;
  font-size: var(--step-down-2);
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.0625em;
  padding-bottom: 1em;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 200ms;

  &:focus,
  &:hover {
    color: var(--blue);
  }

  @media (--s) {
    border-bottom-width: 4px;
    font-size: var(--step-down-1);
    padding-bottom: 1.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1.75em;
  }

  &.is-active {
    box-shadow: inset 0 4px 0 var(--blue);
  }
}
