/**
 * Note
 * Flavor descriptor
 */

/**
 * @section Base
 */

.note {
  background-color: var(--lemon);
  border-radius: 2em;
  color: var(--white);
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0.25em;
  margin-right: 0.375em;
  margin-top: 0.25em;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: baseline;
}

/**
 * @section Modifiers
 */

.note--almond { background-color: var(--almond); }
.note--berry { background-color: var(--berry); }
.note--caramel { background-color: var(--caramel); }
.note--cherry { background-color: var(--cherry); }
.note--chocolate { background-color: var(--chocolate); }
.note--floral { background-color: var(--floral); }
.note--lemon { background-color: var(--lemon); }
.note--marshmallow { background-color: var(--marshmallow); color: var(--black); }
.note--peach { background-color: var(--peach); }
.note--plum { background-color: var(--plum); }
