/**
 * Score
 * Coffee points
 */

/**
 * @section Base
 */

.score {
  align-items: center;
  color: currentColor;
  display: flex;
  flex-direction: column;
  height: calc(2.5 * var(--space));
  justify-content: center;
  line-height: 1;
  position: relative;
  width: calc(2.5 * var(--space));
}

/**
 * @section Submodules
 */

/* Label */

.score-label {
  font-size: var(--step-down-3);
  font-weight: 500;
  letter-spacing: 0.0625em;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  opacity: 0.625;
  text-align: center;
  text-transform: uppercase;
}

/* Wheel */

.score-wheel {
  animation-timing-function: var(--transition-deceleration);
  fill: none;
  height: calc(2.5 * var(--space));
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: calc(2.5 * var(--space));

  & circle {
    animation-duration: 2s;
    stroke: currentColor;
    stroke-width: 16;
    transform-origin: center;
    transform: rotate(-0.25turn);
  }
}

/* Value */

.score-value {
  font-size: var(--step-up-2);
  font-weight: 700;
  padding-bottom: var(--space-025);
}

/**
 * @section Animations
 */

@keyframes grow {
  from {
    stroke-dasharray: 0 2814;
  }
}
