/**
 * Stepper
 * Up and down
 */

/**
 * @section Base
 */

.stepper {
  border: none;
  font-family: var(--text-font-family);
  font-size: var(--step-up-1);
  font-weight: 500;
  height: 1em;
  letter-spacing: 0;
  line-height: 1;
  padding: 0;
  text-align: center;
  transition: background-color 200ms;
  width: 2em;

  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  &:focus {
    background-color: var(--blue-t);
    outline: none;
  }
}

/**
 * @section Submodules
 */

.stepper-button {
  appearance: none;
  background-color: var(--black);
  border-radius: 50%;
  border: none;
  color: white;
  cursor: pointer;
  height: 1.5em;
  line-height: 1.5;
  padding: 0;
  text-align: center;
  transition: background-color 200ms;
  width: 1.5em;

  &:focus,
  &:hover {
    background-color: var(--blue);
    outline: none;
  }
}
